@model Library.Models.BooksViewModel

@{
    ViewBag.Title = "UploadBook";
}


	
	@Html.Partial("_SideNavAdmin")
	
	<form>
		<div class="form-group">
			<label for="EnterBookName">Book Name</label>
			<input type="text" class="form-control" id="name" placeholder="Name of the book">
		</div>
		<div class="form-group">
			<label for="EnterAuthoreNaem">Authore Name</label>
			<input type="text" class="form-control" id="authore" placeholder="Name of the book authore">
		</div>
		<div class="form-group">
			<label for="GetQuantity">Enter Quantity</label>
			<input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" />
		</div>
		<div class="form-group">
			<label for="UploadImage">UploadImage</label>
			<input type="file" class="form-control" id="image" placeholder="Upload Image" />
		</div>
		<button type="submit" class="btn btn-primary" onclick="SaveBook()">Save</button>
		<p id="onSuccess"></p>
	</form>

