@model Library.Models.BooksViewModel

@{
    ViewBag.Title = "UploadBook";
}
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script>

	function UpoadFile() {

			// Checking whether FormData is available in browser  
			if (window.FormData !== undefined) {

				var fileUpload = $("#image").get(0);
				var files = fileUpload.files;

				// Create FormData object  
				var fileData = new FormData();

				// Looping over all files and add it to FormData object  
				for (var i = 0; i < files.length; i++) {
					fileData.append(files[i].name, files[i]);
				}

				var BookName = $("#name").val();
				var AuthoreName = $("#authore").val();
				var Quantity = $("#quantity").val();
				var Price = $("#price").val();
				var e = document.getElementById("category");
				var category = e.options[e.selectedIndex].value;
				if (BookName !== null && AuthoreName !== null && Quantity !== null) {
					// Adding one more key to FormData object  
					fileData.append('Name', BookName);
					fileData.append('Author', AuthoreName);
					fileData.append('NoOfStock', Quantity);
					fileData.append('NoOfBooksIsInUse', 0);
					fileData.append('BookPrice', Price);
					fileData.append('Category', category);

					$.ajax({
						url: '/Library/UploadBookImage',
						type: "POST",
						contentType: false, // Not to set any content header  
						processData: false, // Not to process data  
						data: fileData,
						success: function (result) {
							alert(result);
						},
						error: function (err) {
							alert(err.statusText);
						}
					});
				}
				
			} else {
				alert("FormData is not supported.");
			}
		}


	function AddBook(url)
	{
		var urlVal = url + '/api/LibraryApi/SaveBookAndImage';
		var Price = $("#price").val();
		var BookName = $("#name").val();
		var AuthoreName = $("#authore").val();
		var Quantity = $("#quantity").val();
		var ImgUrl = $("#image").val();
		
		var fileUpload = $("#image").get(0);
		var files = fileUpload.files;
		// Create FormData object  
		var fileData = new FormData();

		// Looping over all files and add it to FormData object  
		for (var i = 0; i < files.length; i++) {
			fileData.append(files[i].name, files[i]);
		}

		// Adding one more key to FormData object  
		fileData.append('BookImage', "image");

		var e = document.getElementById("category");
		var strUser = e.options[e.selectedIndex].value;

		if (BookName !== null && AuthoreName !== null && Quantity !== null)
		{
			var dataObj = {
				"Name": BookName,
				"Author": AuthoreName,
				"NoOfStock": Quantity,
				"NoOfBooksIsInUse":0,
				"BookPrice": Price,
				"ImageUrl": fileData,
				"Category": strUser
			}
		}
		$.ajax({
			url: urlVal,
			type: "POST",
			contentType: 'application/json;charset=utf-8',
			data: JSON.stringify(dataObj),
			dataType: "json",
			success: function (status, data) {
				if (status.status === 210 || status.status === 200) {
					location.reload(true);
					alert(data);
				}
			},
			complete: function (status, data) {
				if (status.status === 210 || status.status === 200) {
					location.reload(true);
					alert(data);
				}
			},
			error: function (status, data) {
				if (status.status === 400 || status.status === 401) {
					location.reload();
					alert(data);
				}
			}
		});
	}

</script>
	
	@Html.Partial("_SideNavAdmin")
	
<div>
	<div class="form-group">
		<label for="EnterBookName">Book Name</label>
		<input type="text" class="form-control" id="name" placeholder="Name of the book" required>
	</div>
	<div class="form-group">
		<label for="EnterAuthoreNaem">Authore Name</label>
		<input type="text" class="form-control" id="authore" placeholder="Name of the book authore" required>
	</div>
	<div class="form-group">
		<label for="GetQuantity">Enter Quantity</label>
		<input type="number" class="form-control" id="quantity" min="1" placeholder="Enter Quantity" required />
	</div>
	<div class="form-group">
		<label for="GetQuantity">Price</label>
		<input type="text" class="form-control" id="price" placeholder="Enter Price" required pattern="\d+(\.\d{2})?" />
	</div>
	<div class="form-group">
		<label for="GetQuantity">Select Category</label>
		<select id="category">
			@if (Model.bookCategories.Count != 0)
			{
				foreach (var cat in Model.bookCategories)
				{
					<option value="@cat.Key">@cat.Value</option>
				}
			}
			
		</select>
	</div>
	<div class="form-group">
		<label for="UploadImage">UploadImage</label>
		<input type="file" value="Upload Files"  onchange="UpoadFile()" class="form-control" id="image" placeholder="Upload Image" />
	</div>
	<button type="submit" class="btn btn-primary" onclick="AddBook('@Model.domain')">Save</button>
	<p id="onSuccess"></p>
</div>

