@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>British Library</h1>
    <p class="lead">Rent a book Easy and affordable</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Book List</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User List</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>